.logoImage {
  height: 60px;
  margin-right: 0.5rem;
}

.logoContainer {
  display: flex
;
  align-items: center;
  background-color: #fac700;
  margin-top: 5vh;
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 450px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.2);
}

.logoText {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.logoTextTitle {
  font-family: "Inter_regular";
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 4px;
}

.logoTextSubTitle {
  font-family: "Libre_Franklin_extraLight";
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1.5px;
}

.quoteBox {
  font-family: "Inter_light_Italic";
  display: flex;
  background-color: #fac700;
  padding: 3vh 1vw;
  border-radius: 40px;
  font-size: 24px;
  text-align: center;
  z-index: 2;
  margin-bottom: -3vh;
  /* margin-right: 35vw; */
  margin-left: 4vw;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  justify-content: center;
}

.textContainer {
  font-family: "Inter_light";
  font-size: 24px;
  width: 90%;
  text-align: left;
  margin-bottom: 3vh;
  margin-top: 10vh;
}

.footer {
  font-family: "Dynalight";
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  font-size: 32px;
  margin-top: 5vh; /* Asegura espacio suficiente debajo del logo */
  letter-spacing: 0.2rem;
  position: relative;
}

.specialty,
.moments {
  font-style: italic;
}

.icon {
  font-size: 2vw;
  font-weight: bold;
  background-color: #fac700;
  padding: 0.5vw 1vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  border: 2px solid #fac700;
  border-radius: 60px;
  backdrop-filter: blur(10px);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.lineContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10vh 4vw;
  position: relative;
}

.lineContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.logoWrapper {
  background-color: #fac700;
  padding: 6vh 1.7vw;
  display: flex;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  z-index: 3;
}

.logoImageFooter {
  height: 70px;
  position: relative;
  z-index: 4;
  margin-top: -4vh;
}
