.footerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13vh;
}

.line {
  width: 100%;
  height: 3px; /* Grosor de las líneas */
  background-color: #fac700; /* Color amarillo */
  margin-bottom: 3vh;
}

.logoContainer {
  display: flex;
  align-items: center;
  background-color: #fac700;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  max-width: 535px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 2vh;
}

.logoImage {
  height: 73px;
  margin-right: 0.5rem;
}

.logoText {
  display: flex;
  flex-direction: column;
}

.logoTextTitle {
  font-family: "Inter_regular";
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 4px;
}

.logoTextSubTitle {
  font-family: "Libre_Franklin_extraLight";
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 1.5px;
}

.topSection {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.logo {
  width: 80px;
  height: auto;
}

.businessName h2 {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.businessName p {
  font-size: 14px;
  color: #666;
}

.navMenu {
  font-family: "Libre_Franklin_Regular";
  font-size: 24px;
  display: flex;
  gap: 30px;
  letter-spacing: 3px;
  margin-right: 7vw;
}

.navMenu a {
  transition: 0.3s;
}

.navMenu a:hover {
  color: #fac700;
}

.middleSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.contactInfo {
  font-family: "Libre_Franklin_extraLight";
  font-size: 20px;
  letter-spacing: 1px;
  margin-left: 5.5vw;
  margin-top: 1.5vh;
}

.contactInfo p {
  margin-top: 2vh;
}

.secondMiddleSection {
  display: flex;
  flex-direction: column;
  margin-right: 7vw;
  align-items: flex-end;
}

.secondMiddleSection p {
  font-family: "Libre_Franklin_extraLight";
  font-size: 20px;
}

.menuButton {
  font-family: "Libre_Franklin_extraLight";
  font-size: 20px;
  background: #fac700;
  border-radius: 50px;
  text-decoration: none;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 1vh 2.5vw;
  letter-spacing: 3px;
  margin-bottom: 4vh;
}

.menuButton:hover {
  background: #e0b500;
}

.socialIcons {
  display: flex;
  gap: 46px;
}

.socialIcons img {
  width: 36px;
  height: auto;
  cursor: pointer;
  transition: 0.3s;
}

.socialIcons img:hover {
  opacity: 0.7;
}

.divider {
  width: 100%;
  height: 1px;
  background: #ccc;
  margin: 10px 0;
}

.bottomSection {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.reviewButton {
  font-family: "Libre_Franklin_extraLight";
  font-size: 20px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  background-color: #fac700;
  padding-left: 5.5vw;
  padding-right: 2vw;
  margin-top: 3vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  max-width: 535px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 3vh;
}

.reviewButton:hover {
  background: #e0b500;
}

.developer {
  margin-bottom: 5vh;
}

.developer_two {
  margin-bottom: 6vh;
}

@media (max-width: 1024px) {
  .logoTextTitle {
    font-size: 26px;
  }

  .logoTextSubTitle {
    font-size: 17px;
  }

  .logoContainer {
    padding-left: 5vw;
    padding-right: 4vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
  }

  .navMenu {
    font-size: 18px;
    gap: 25px;
    letter-spacing: 1px;
  }

  .contactInfo {
    font-size: 17px;
  }

  .menuButton {
    font-size: 16px;
  }

  .reviewButton {
    font-size: 16px;
  }

  .socialIcons img {
    width: 30px;
  }

  .secondMiddleSection p {
    font-size: 17px;
  }
}
