.locationContainer {
  margin-right: 80px;
  margin-left: 80px;
  margin-top: 200px;
  display: flex;
  align-items: center; /* Centra los elementos verticalmente */
  justify-content: center; /* Centra los elementos horizontalmente */
  gap: 12vw; /* Espacio entre el texto y el mapa */
  position: relative; /* Hace que los elementos hijos se posicionen sobre la imagen */
  background-image: url("../../public/img/background_map.png"); /* Ruta de la imagen */
  background-size: contain; /* Ajusta la imagen sin deformarla */
  background-position: 10vw center;
  background-repeat: no-repeat; /* Evita repeticiones */
}

.textContainer,
.mapContainer {
  position: relative; /* Asegura que estos elementos estén sobre la imagen */
  z-index: 1; /* Asegura que estén en la parte superior */
}

.textContainer {
  max-width: 40%;
}

.title {
  font-family: "Inter_regular";
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.description {
  font-family: "Inter_light_Italic";
  font-size: 24px;
}

.mapContainer {
  border-radius: 50px; /* Bordes redondeados */
  overflow: hidden; /* Evita que el contenido sobresalga */
  border: 4px solid #fac700; /* Contorno amarillo */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.infoWindow {
  font-family: "Libre_Franklin_extraLight";
  text-align: left; /* Mantiene el texto alineado a la izquierda */
  padding: 10px;
  max-width: 200px;
}

.infoWindow h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.infoWindow p {
  font-size: 14px;
  margin-bottom: 8px;
}

/* Centrar solo el botón */
.mapButton {
  font-family: "Inter";
  display: flex;
  justify-content: center; /* Centra el contenido dentro del botón */
  align-items: center;
  background-color: #fac700;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s ease;
  width: 100%; /* Hace que el botón ocupe todo el ancho disponible */
}

.mapButton:hover {
  background-color: #e0b73a;
}

.buttonContainer {
  display: flex;
  justify-content: center; /* Centra el botón dentro del InfoWindow */
  margin-top: 10px; /* Espacio entre el texto y el botón */
}

.locationImage {
  width: 100%;
  height: 9vh;
  border-radius: 10px;
  margin-bottom: 10px;
}

.scheduleContainer {
  text-align: center;
  margin-top: 60px; /* Asegura que quede debajo con suficiente espacio */
  font-family: "Inter_regular";
}

.scheduleText {
  font-family: "Inter_light";
  font-size: 40px;
  letter-spacing: 10px;
}

.scheduleHours {
  font-family: "Inter_bold";
  font-size: 40px;
  margin-top: 5px;
  letter-spacing: 5px;
}

.clockIcon {
  color: #fac700; /* Color amarillo del reloj */
  height: 30px;
}

@media (max-width: 1024px) {
  .locationContainer {
    margin-top: 150px;
    margin-right: 60px;
    margin-left: 60px;
    background-position: 9vw center;
  }

  .title {
    font-size: 26px;
  }

  .description {
    font-size: 18px;
  }
  
  .mapContainer {
    height: 35vh;
  }
  
  .scheduleText, .scheduleHours {
    font-size: 30px;
  }
}
