.sliderContainer {
    margin-right: 100px;
    margin-left: 100px;
}

.title {
    font-family: "Inter_regular";
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 4px;
}

.productContainer {
    display: flex;
    gap: 30px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productImage {
    width: 100%;
}

.productTitle {
    font-family: "Libre_Franklin_extraLight";
    font-size: 24px;
}

.productDescription {
    font-family: "Libre_Franklin_extraLight";
    font-size: 14px;
    text-align: center;
}

/* Botones de navegación personalizados */
.swiperButtonPrev,
.swiperButtonNext {
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
  margin-bottom: 13vh;
}

.swiperButtonPrev {
  background-image: url('../../public/img/arrow_left.png');
  background-position: left;
}

.swiperButtonNext {
  background-image: url('../../public/img/arrow_right.png');
  background-position: right;
}
