.sliderContainer {
  margin-right: 80px;
  margin-left: 80px;
  margin-top: 100px;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 46vw; /* Máximo ancho deseado */
  width: 100%;
  flex-direction: column;
}

.title {
  font-family: "Inter_regular";
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 4px;
  text-align: center;
}

.underline_one {
  width: 34.3vw;
  height: 3px; /* Grosor de las líneas */
  background-color: #fac700; /* Color amarillo */
  margin-top: 1vh;
}

.underline_two {
  width: 21vw;
  height: 3px;
  background-color: #fac700;
  margin-top: 0.7vh;
  align-self: flex-start;
  margin-left: 5.8vw;
}

.productContainer {
  display: flex;
  gap: 30px;
  margin-top: 5vh;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productImage {
  max-width: 85%;
}

.productTitle {
  font-family: "Libre_Franklin_extraLight";
  font-size: 24px;
  font-weight: 100;
  margin-top: 0.5vh;
}

.productDescription {
  font-family: "Libre_Franklin_extraLight";
  font-size: 14px;
  text-align: center;
  max-width: 222px;
  margin-top: 0.5vh;
}

/* Botones de navegación personalizados */
.swiperButtonPrev,
.swiperButtonNext {
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
  margin-bottom: 13vh;
}

.swiperButtonPrev {
  background-image: url("../../public/img/arrow_left.png");
  background-position: left;
}

.swiperButtonNext {
  background-image: url("../../public/img/arrow_right.png");
  background-position: right;
}

.customSwiper .swiper-slide {
  margin-right: 0px !important;
}

.menuButtonContainer {
  display: flex;
  justify-content: center;
}

.menuButton {
  margin-top: 5vh;
  text-decoration: none; /* Quita la línea de enlace */
  background-color: #fac700;
  color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-family: "Inter";
  font-weight: 300; /* SemiBold */
  font-size: 32px;
  text-align: center; /* Asegura que el contenido esté centrado */
  display: block;
  white-space: nowrap; /* Evita que se divida en varias líneas */
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.2);
}

.menuButton:hover {
  background-color: #ca9f01;
}

/* Responsivo */

@media (min-width: 2560px) {
  .titleContainer {
    max-width: 28vw;
  }

  .underline_one {
    width: 19.4vw;
  }

  .underline_two {
    margin-left: 4.3vw;
    width: 12vw;
  }
}

@media (max-width: 1024px) {
  .sliderContainer {
    margin-right: 60px;
    margin-left: 70px;
    margin-top: 40px;
  }

  .titleContainer {
    max-width: 53vw;
  }

  .title {
    font-size: 30px;
  }

  .productTitle {
    font-size: 19px;
  }

  .underline_one {
    width: 38vw;
  }

  .underline_two {
    margin-left: 7.5vw;
  }

  .menuButton {
    font-size: 22px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
